



<div class="row justify-content-center">
    <div class="text-end">

        <button (click)="logOut()" class="btn btn-danger mx-5 my-2">Log out</button>
    </div>
    <div class="col-6">
        <div class="row">
         
            <p class="row justify-content-center h2 mx-auto">dashboard works!</p>


        </div>

    
 

     

        <table  class="table table-bordered ">
            <thead class="thead-dark">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td scope="row">{{user.id}}</td>
                    <td scope="row">{{user.name}}</td>
                    <td scope="row">{{user.email}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

