<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="row bg-light p-5">
    <div class=" col-md-12">
      <p class="text-center font-white h4 bg-primary text-white p-3 rounded-3">Signup</p>
      <mat-card class="mx-auto text-center">
        <mat-card-content>
          <div>
            <form class="mx-auto" [formGroup]="signupForm" (ngSubmit)="onSubmitt()">

              <mat-form-field class="mb-3">
                <label class="text-primary">Name</label>
                <input matInput type="text" placeholder="Mohammed" formControlName="name">
                <mat-hint *ngIf="signupForm.controls['name'].errors">Name is required</mat-hint>
              </mat-form-field>
              <mat-form-field class="  mb-3">
                <label class="text-primary">Email address</label>
                <input matInput type="email" placeholder="abc@y.com" formControlName="email">
                <mat-hint *ngIf="signupForm.controls['email'].errors">Email is required</mat-hint>
              </mat-form-field>
              <mat-form-field class="mb-3">
                <label class="text-primary">Password</label>
                <input matInput type="password" placeholder="pass" formControlName="password">
                <mat-hint *ngIf="signupForm.controls['password'].errors">Password is required</mat-hint>
              </mat-form-field>

              <button mat-flat-button class="w-100" color="primary" [disabled]="!signupForm.valid"
                type="submit">Signup</button>

            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>